<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>WEB DHM Toolbox</Name><AddInID>{f85e0fb7-7981-4efe-8ba6-53aac466a1e0}</AddInID><Description>Arc GIS based WEB DHM tool</Description><Version>2.0</Version><Image /><Author>Jayaram Pudashine, letterjaya@gmail.com</Author><Company>Tokyo University</Company><Date>07/03/2016</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="WEBDHMV2_addin.py" namespace="WEBDHMV2_addin"><ArcMap>
    <Commands>
        <Button caption="Save" category="WEB DHM Toolbox" class="Save" id="WEBDHMV2_addin.save" image="Images\save.png" message="" tip="Save Arc Map Document"><Help heading="" /></Button>
        <Button caption="UTM Projection" category="WEB DHM Toolbox" class="utm" id="WEBDHMV2_addin.utm" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="DEM Preprocessing" category="WEB DHM Toolbox" class="preprocess" id="WEBDHMV2_addin.preprocess" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Watershed Delineation" category="WEB DHM Toolbox" class="watershed" id="WEBDHMV2_addin.watershed" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Hillslope Calculation" category="WEB DHM Toolbox" class="hillslope" id="WEBDHMV2_addin.hillslope" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="First Level Pfafstetter" category="WEB DHM Toolbox" class="first" id="WEBDHMV2_addin.first" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Higher Level Pfafstetter Division" category="WEB DHM Toolbox" class="higher" id="WEBDHMV2_addin.higher" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Process Data for WEB DHM" category="WEB DHM Toolbox" class="process_basin" id="WEBDHMV2_addin.process_basin" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Soil Data Processing" category="WEB DHM Toolbox" class="soil_process" id="WEBDHMV2_addin.soil_process" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Download Land Use Map" category="WEB DHM Toolbox" class="down_land" id="WEBDHMV2_addin.down_land" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Land Use Data Processing" category="WEB DHM Toolbox" class="land_process" id="WEBDHMV2_addin.land_process" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Download LAI FPAR data" category="WEB DHM Toolbox" class="down_lai" id="WEBDHMV2_addin.down_lai" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="LAI FPAR Data Process" category="WEB DHM Toolbox" class="lai_process" id="WEBDHMV2_addin.lai_process" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="APHRODITE Rainfall Data" category="WEB DHM Toolbox" class="aphrodite" id="WEBDHMV2_addin.aphrodite" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="TRMM Rainfall Data" category="WEB DHM Toolbox" class="trmm" id="WEBDHMV2_addin.trmm" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="CMORPH Rainfall Data" category="WEB DHM Toolbox" class="cmorph" id="WEBDHMV2_addin.cmorph" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Observed Rainfall Data" category="WEB DHM Toolbox" class="observed" id="WEBDHMV2_addin.observed" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="GPM Rainfall" category="WEB DHM Toolbox" class="gpm" id="WEBDHMV2_addin.gpm" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="IMERGE Rainfall" category="WEB DHM Toolbox" class="imerge" id="WEBDHMV2_addin.imerge" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="GPM Rainfall" category="WEB DHM Toolbox" class="process_gpm" id="WEBDHMV2_addin.process_gpm" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="IMERGE Rainfall" category="WEB DHM Toolbox" class="process_imerge" id="WEBDHMV2_addin.process_imerge" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Download NASA Downscaled GCMs" category="WEB DHM Toolbox" class="nasa" id="WEBDHMV2_addin.nasa" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Perform Bias Correction of GCMs" category="WEB DHM Toolbox" class="bias" id="WEBDHMV2_addin.bias" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="About WEB DHM Toolbar" category="WEB DHM Toolbox" class="about_webdhm" id="WEBDHMV2_addin.about_webdhm" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="WEB DHM ArcGIS Tool Manual" category="WEB DHM Toolbox" class="manual" id="WEBDHMV2_addin.manual" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Help improving the tool" category="WEB DHM Toolbox" class="improve" id="WEBDHMV2_addin.improve" image="" message="" tip=""><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="WEB DHM Toolbar" category="WEB DHM Toolbox" id="WEBDHMV2_addin.toolbar" showInitially="true"><Items><Button refID="WEBDHMV2_addin.save" /><Menu refID="WEBDHMV2_addin.terrain" /><Menu refID="WEBDHMV2_addin.basin" /><Menu refID="WEBDHMV2_addin.soil" /><Menu refID="WEBDHMV2_addin.land_use" /><Menu refID="WEBDHMV2_addin.lai" /><Menu refID="WEBDHMV2_addin.rainfall" /><Menu refID="WEBDHMV2_addin.Help" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        <Menu caption="Terrain Preprocessing" category="WEB DHM Toolbox" id="WEBDHMV2_addin.terrain" isRootMenu="false" isShortcutMenu="false" separator="false"><Items><Button refID="WEBDHMV2_addin.utm" /><Button refID="WEBDHMV2_addin.preprocess" /><Button refID="WEBDHMV2_addin.watershed" /><Button refID="WEBDHMV2_addin.hillslope" /></Items></Menu>
        <Menu caption="Basin Division Manager" category="WEB DHM Toolbox" id="WEBDHMV2_addin.basin" isRootMenu="false" isShortcutMenu="false" separator="false"><Items><Button refID="WEBDHMV2_addin.first" /><Button refID="WEBDHMV2_addin.higher" /><Button refID="WEBDHMV2_addin.process_basin" /></Items></Menu>
        <Menu caption="Soil Data Manager" category="WEB DHM Toolbox" id="WEBDHMV2_addin.soil" isRootMenu="false" isShortcutMenu="false" separator="false"><Items><Button refID="WEBDHMV2_addin.soil_process" /></Items></Menu>
        <Menu caption="Land Use data Manager" category="WEB DHM Toolbox" id="WEBDHMV2_addin.land_use" isRootMenu="false" isShortcutMenu="false" separator="false"><Items><Button refID="WEBDHMV2_addin.down_land" /><Button refID="WEBDHMV2_addin.land_process" /></Items></Menu>
        <Menu caption="LAI and FPAR" category="WEB DHM Toolbox" id="WEBDHMV2_addin.lai" isRootMenu="false" isShortcutMenu="false" separator="false"><Items><Button refID="WEBDHMV2_addin.down_lai" /><Button refID="WEBDHMV2_addin.lai_process" /></Items></Menu>
        <Menu caption="Download Satellite Rainfall Data" category="WEB DHM Toolbox" id="WEBDHMV2_addin.down_rainfall" isRootMenu="false" isShortcutMenu="false" separator="false"><Items><Button refID="WEBDHMV2_addin.gpm" /><Button refID="WEBDHMV2_addin.imerge" /></Items></Menu>
        <Menu caption="Process Satellite Rainfall Data" category="WEB DHM Toolbox" id="WEBDHMV2_addin.process_rain" isRootMenu="false" isShortcutMenu="false" separator="false"><Items><Button refID="WEBDHMV2_addin.process_gpm" /><Button refID="WEBDHMV2_addin.process_imerge" /></Items></Menu>
        <Menu caption="Future Climate Data" category="WEB DHM Toolbox" id="WEBDHMV2_addin.future" isRootMenu="false" isShortcutMenu="false" separator="false"><Items><Button refID="WEBDHMV2_addin.nasa" /><Button refID="WEBDHMV2_addin.bias" /></Items></Menu>
        <Menu caption="Rainfall Data Manager" category="WEB DHM Toolbox" id="WEBDHMV2_addin.rainfall" isRootMenu="false" isShortcutMenu="false" separator="false"><Items><Button refID="WEBDHMV2_addin.aphrodite" /><Button refID="WEBDHMV2_addin.trmm" /><Button refID="WEBDHMV2_addin.cmorph" /><Button refID="WEBDHMV2_addin.observed" /><Menu refID="WEBDHMV2_addin.down_rainfall" /><Menu refID="WEBDHMV2_addin.process_rain" /><Menu refID="WEBDHMV2_addin.future" /></Items></Menu>
        <Menu caption="Help" category="WEB DHM Toolbox" id="WEBDHMV2_addin.Help" isRootMenu="false" isShortcutMenu="false" separator="false"><Items><Button refID="WEBDHMV2_addin.about_webdhm" /><Button refID="WEBDHMV2_addin.manual" /><Button refID="WEBDHMV2_addin.improve" /></Items></Menu>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>